@font-face { 
    font-family: "IBM Plex Mono"; 
    src: url(IBMPlexMono-Regular.ttf); 
    font-weight: 400; 
} 
   
@font-face { 
    font-family: "IBM Plex Mono"; 
    src: url(IBMPlexMono-Bold.ttf); 
    font-weight: 700; 
} 
   
body { 
    width: 1024px; 
    height: 5008px; 
    background: #FFF1F7; 
} 
   
header { 
    width: 1024px; 
    height: 768px; 
    padding: 20px; 
    gap: 10px;
    position: relative;
} 
   
.navigation { 
    display: flex; 
    justify-content: center; 
    gap: 10px; 
} 
   
button { 
    width: 70px; 
    height: 26px; 
    padding: 0 13px; 
    border: none; 
    background: transparent; 
    font-family: "IBM Plex Mono"; 
    font-size: 18px; 
    font-weight: 400; 
    line-height: 18px; 
    color: #353430; 
    cursor: pointer; 
    text-align: center; 
} 
   
.isActiveButton { 
    border: 1px solid #353430 !important; 
} 

h1 {
    margin: 0;
    position: absolute; 
    top: calc(50% - 130px/2); 
    font-family: 'IBM Plex Mono'; 
    font-weight: 700; 
    font-size: 157px; 
    line-height: 129.53px; 
    color: #ffc2e6; 
    text-shadow: 4px 4px 0 #FF0070; 
} 
   
.text { 
    position: absolute; 
    width: 491px; 
    height: 70px; 
    top: 563px; 
    left: 513px; 
} 
   
p { 
    font-family: "IBM Plex Mono"; 
    font-size: 18px; 
    font-weight: 700; 
    line-height: 23.4px; 
    text-align: left; 
    color: #353430; 
    background: #FF8DCB; 
} 
   
.bord { 
    box-sizing: border-box; 
    position: absolute; 
    width: 25px; 
    height: 25px; 
    border-color: #353430; 
    border-style: solid; 
} 
   
.bord.bord2 { 
    left: 10px; 
    top: 725px; 
    border-width: 0 0 1px 1px; 
} 
   
.bord.bord1 { 
  left: 994px; 
  top: 10px; 
  border-width: 1px 1px 0 0; 
} 
   
main { 
    position: absolute; 
    width: 1024px; 
    height: 3352px; 
    top: 826px; 
} 
   
.section1 { 
    width: 1024px;  
    height: 508px;  
    top: 828px;  
    padding: 0 20px;  
    display: flex; 
} 
   
.capital_1 { 
    width: 314.96px; 
    height: 47px; 
} 
   
h2 { 
    font-family:"IBM Plex Mono"; 
    font-weight: 700; 
    font-size: 18px; 
    line-height: 23.4px; 
    text-align: left; 
} 
   
.small_1{ 
    width: 648.92px; 
    height: 244px; 
} 
   
span { 
    font-family:"IBM Plex Mono"; 
    font-size: 18px; 
    font-weight: 400; 
    line-height: 23.4px; 
    text-align: left; 
}